@defer(when cargaForm){
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="gridm m-4" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Id</label>
          <input
            type="text"
            class="form-control"
            formControlName="id"
            placeholder="Introduce un id"
            [readonly]="hero[0]?.id"
            required
          />

        </div>

        <!-- [placeholder]="hero.length > 0 ? hero[0].id : 'Introduce Id'" -->

        <div class="form-group">
          <label>Superheroe</label>
          <input
            type="text"
            class="form-control"
            formControlName="superhero"
            [placeholder]="
              hero.length > 0 ? hero[0].superhero : 'Introduce Nombre'
            "
            required
          />
        </div>
        <div class="form-group">
          <label>Actor</label>
          <input
            type="text"
            class="form-control"
            formControlName="alter_ego"
            [placeholder]="
              hero.length > 0 ? hero[0].alter_ego : 'Introduce Actor'
            "
            required
          />
        </div>
        <div class="form-group">
          <label>Primera aparición</label>
          <input
            type="text"
            class="form-control"
            formControlName="first_appearance"
            [placeholder]="
              hero.length > 0
                ? hero[0].first_appearance
                : 'Introduce la primera aparición'
            "
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary m-2"
          [disabled]="heroForm.invalid"
          (click)="onSubmit()"
        >
          Enviar
        </button>
        <a routerLink="/home">
          <button type="submit" class="btn btn-primary m-2">Volver</button>
        </a>
      </form>
    </div>
  </div>
</div>
}@placeholder {
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img
        class="img-fluid w-100 vh-100"
        alt="loading..."
        src="https://cdn.dribbble.com/users/121337/screenshots/1024835/loading2.gif"
      />
    </div>
  </div>
</div>
}
